.place-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.place-list.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}